﻿<table align="center" width="100%" style="font-family:Arial">
    <tr>
        <td colspan="3">
            {VendorDiscrepancyReturnNumber} : {VDRNoValue}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="{logoInnerPath}" width="100%" alt="No Image" />
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {From} :
            <br />
            {SiteAddressValue}
        </td>
    </tr>
    <tr>
        <td style="text-align: center" colspan="3">
            <hr />
            <strong style="font-size: large">{VendorDiscrepancyReturnNote}</strong><hr />
        </td>
    </tr>
    <tr>
        <td class="style2" colspan="3">
            <table width="100%">
                <tr>
                    <td style="width: 50%">
                        <div style="float: left; width: 498px; min-height: 134px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 30%;">
                                        {VendorNumberSDR}
                                    </td>
                                    <td style="width: 30%">
                                        {VendorNumberValue}
                                    </td>
                                    <td style="width: 10%"></td>
                                    <td style="width: 10%">
                                        {POHash}
                                    </td>
                                    <td style="width: 20%">
                                        {POValue}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {VendorName}
                                    </td>
                                    <td>
                                        {VendorNameValue}
                                    </td>
                                </tr>      
                            </table>
                            {Returnto}:<br />
                            <fieldset style="word-break: break-all;">
                                {VendorAddressValue}
                            </fieldset>
                        </div>
                    </td>
                    <td>
                        <div style="float: right; width: 490px; height: 134px">
                            <fieldset style="word-break: break-all;min-height: 134px">
                                <p>
                                    {ReturnNoteText1}</p>
                                <p>
                                    {ReturnNoteText2}                                   
                                    
                                    </p>
                            </fieldset>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr />
        </td>
    </tr>
    <tr>
        <td>
            {AuthorisedBy}
        </td>
        <td style="width: 40%">
            {VendorAuthorisationReference}
        </td>
        <td>
            {ReasonforReturn}
        </td>
    </tr>
    <tr style="margin-bottom: 4px">
        <td>
            {VendorContactValue}
        </td>
        <td>
            {VendorAuthorisationReferenceValue}
        </td>
        <td>
            {VENDORDISREPACNYTYPEValue}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left">
            <table id="tbContent" rules="groups" frame="box" border="1px" style="border-collapse: collapse;
                border-bottom-style: solid" cellpadding="3px" cellspacing="0" width="100%">
                <colgroup span="7">
                </colgroup>
                <colgroup span="2">
                </colgroup>
                <thead>
                    <tr>
                        <th style="text-align: left">
                            {QTY}
                        </th>
                        <th style="text-align: left">
                            {UOM}
                        </th>
                        <th style="text-align: left">
                            {OURPRODUCTCODE}
                        </th>
                        <th style="text-align: left">
                            {VENDORREFERENCE}
                        </th>
                        <th style="text-align: left">
                            {DESCRIPTION}
                        </th>

                        <th style="text-align: left">
                            {POQuantity}
                        </th>
                        <th style="text-align: left">
                            {OUTSTANDING}
                        </th>

                        <th style="text-align: left">
                            {COST}
                        </th>
                        <th style="text-align: left">
                            {NET}
                        </th>
                    </tr>
                </thead>
                <tbody style="min-height: 450px !important">
                    {DiscrepancyItemsValue}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" style="text-align: right">
                            {ReturnTotal}
                        </td>
                        <td colspan="2" style="text-align: right">
                            {TotalCostValue}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: right">
                            {FreightCharge}
                        </td>
                        <td colspan="2" style="text-align: right">
                            {FreightChargeValue}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: right">
                            {Total}
                        </td>
                        <td colspan="2" style="text-align: right">
                            {NetTotalCostValue}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
     <tr style="display:block">
         <td colspan="3" style="text-align: left">
             {ReturnNoteIncorrectProductDec}
             </td>
     </tr>
     <tr><td colspan="3">&nbsp;</td></tr>
     <tr style="display:block">
        <td colspan="3" style="text-align: left">
            <table id="Table1" rules="groups" frame="box" border="1px" style="border-collapse: collapse;
                border-bottom-style: solid" cellpadding="3px" cellspacing="0" width="100%">
                <colgroup span="5">
                </colgroup>
                <colgroup span="2">
                </colgroup>
                <thead>
                    <tr>
                        <th style="text-align: left">
                            {QTY}
                        </th>
                        <th style="text-align: left">
                            {UOM}
                        </th>
                        <th style="text-align: left">
                            {OURPRODUCTCODE}
                        </th>
                        <th style="text-align: left">
                            {VENDORREFERENCE}
                        </th>
                        <th style="text-align: left">
                            {DESCRIPTION}
                        </th>
                       
                    </tr>
                </thead>
                <tbody style="min-height: 450px !important">
                    {DiscrepancyItemsValue1}
                </tbody>
                
            </table>
        </td>
    </tr>
     <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3">
            <table rules="none" frame="box" style="float: left; border-collapse: collapse; width: 498px;
                height: 144px; border-bottom-style: solid; font-size: 11pt" border="1px" cellpadding="3px">
                <tr>
                    <td style="width: 200px">
                        {PreparedBy}:
                    </td>
                    <td>
                         {OFFICE_DEPOT_DC_CONTACTValue}
                    </td>
                </tr>
                <tr>
                    <td>
                       {DatePrepared}:
                    </td>
                    <td>
                        {DATEPREPAREDValue}</td>
                </tr>
                <tr>
                    <td>
                        {NumberofPallets}:
                    </td>
                    <td>
                        {NumberofPalletsValue}
                    </td>
                </tr>
                <tr>
                    <td>
                        {NumberofCartons}:
                    </td>
                    <td>
                        {NumberofCartonsValue}
                    </td>
                </tr>
                <tr>
                    <td>
                        {CollectionReturnDate}:
                    </td>
                    <td>
                        {ColletionDateValue}
                    </td>
                </tr>
                <tr>
                    <td>
                        {Signed}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
            </table>
            <table rules="none" frame="box" style="float: left; border-collapse: collapse; width: 498px;
                font-size: 11pt; height: 144px; border-bottom-style: solid" border="1px" cellpadding="3px">
                <tr>
                    <td style="width: 200px">
                        {Carrier}
                    </td>
                    <td>
                        {CarrierValue}
                    </td>
                </tr>
                <tr>
                    <td>
                        {VEHICLEREG}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
                <tr>
                    <td>
                        {DRIVER}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
                <tr>
                    <td>
                        {SIGN}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
                <tr>
                    <td>
                        {Print}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
        <td colspan="3">
         <table>
                <tr>
                    <td style="width: 400px" colspan="2">
                        <strong>{PalletExchangeInfo} </strong> </td>                  
                </tr>
                <tr>
                    <td>
                        {OnewayPallets}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
                <tr>
                    <td>
                        {EuroPallets}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>
                <tr>
                    <td>
                        {EuroPalletsChanged}:
                    </td>
                    <td>
                        ____________
                    </td>
                </tr>              
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="font-size: smaller">
            <div style="float: left; width: 498px; height: 134px">
                <p>
                    {ImportantNotice}
                </p>
                <p>
                {ReturnNoteText3}                    
                </p>
            </div>
            <div style="float: right; width: 490px; height: 134px">
                <p>
                    <br />
                    <br />
                </p>
                <p>
                {ReturnNoteText4}  
                </p>
            </div>
        </td>
    </tr>
</table>
