﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DISLog_Test.aspx.cs" MasterPageFile="~/CommonUI/CMN_MasterPages/CRUD_MasterPage.Master"
 Inherits="ModuleUI_Discrepancy_DISLog_Test" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:GridView ID="GridView1" runat="server" Width="100%">
    </asp:GridView>
</asp:Content>