﻿<table align="center" width="1000px">
    <!--<tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>-->
     
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {DearSirMadam},
        </td>
       
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">            
            {POValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message2}
        </td>
    </tr> 
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message3}
        </td>
    </tr>  
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message4}
        </td>
    </tr>  
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message5}
        </td>
    </tr>  
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorComm1Message6}
        </td>
    </tr>  
     <tr>
            <td style="font-family: Arial; font-size: 12" colspan="2">
                <br />
                {PortalLink}
            </td>
        </tr>  
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerContactNo}
        </td>
    </tr>
  <!--  <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {APClerkAddress}
        </td>
    </tr>-->
</table>
