﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CommonUI/CMN_MasterPages/CRUD_MasterPage.Master" 
AutoEventWireup="true" CodeFile="APPBok_CarrierBookingByPOEdit.aspx.cs" 
Inherits="APPBok_CarrierBookingByPOEdit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    Under Construction ...
</asp:Content>


