﻿<head>
    <style type="text/css">
        .style1
        {
            width: 68%;
        }
    </style>
</head>
<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 10" colspan="2">
            <br />
            <br />
            {SiteAddress}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {Date}:&nbsp;{CommunicationDate}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;" class="style1">
            <br />
            <br />
            {VendorCode}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left;
            vertical-align: bottom;">
            <br />
            <br />
            {VENDORDISCREPANCYREPORT}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorName}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left">
            {VDRNOText}:&nbsp;{VDRNo}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;" class="style1">
            {VendorAddress1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorAddress2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorCity}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {DearSir/Madam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            <br />
            <font style="font-weight: bold">{OurPuchaseOrderNumber}:</font>&nbsp;{PurchaseOrderNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <font style="font-weight: bold">{NaxPuchaseOrderNumber}:</font> &nbsp;{NaxActualPONumber}
        </td>
    </tr>
    {CarrierRow}
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            <font style="font-weight: bold">{DeliveryNoteNumberText}:</font>&nbsp;{DeliveryNoteNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <font style="font-weight: bold">{DateofDelivery}:</font> &nbsp;{DeliveryDate}
        </td>
    </tr>

    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            {DiscrepancyRelatedText}
            <br />
            {InventoryAction}
        </td>
    </tr>
    {ProductGrid}
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            <br />
            {Line1}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            <br />
            {Decision}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            <br />
            {ActionComments}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            <br />
            <br />
            <br />
            {InventoryManagerName}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {InventoryManager}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            ({InventoryManagerNumber})
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 10" colspan="2">
            <br />
            <br />
            <br />
            <br />
            <br />
            {AccountPayable}
        </td>
    </tr>
</table>
