﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            <br />
            <br />
            <b>{DebitNoteNumber}</b>&nbsp;:&nbsp;{DebitNoteNumberValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{OurVATReference}</b>&nbsp;:&nbsp;{OurVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;">
            {VendorAddress1}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{YourVATReference}</b>&nbsp;:&nbsp;{YourVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{DebitReason}</b>&nbsp;:&nbsp;{DebitReasonValue}
        </td>
    </tr>   
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorCity}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12">
            <br />
            <br />
            {DearSirMadam},
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <br />
            <b>{Date}</b>&nbsp;:&nbsp;{DateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {DebitLetterPOPQMessage1}&nbsp;<b>{PONOValue}</b>&nbsp;{DebitLetterPOPQMessage2}&nbsp;{DebitRaisedDate}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {DebitLetterPOPQGridDetails}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2" align="right">
            <br />
            <b>{DebitValue}</b>&nbsp;{DebitActualValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2" align="right">
            <br />
            <b>{Currency}</b>&nbsp;{CurrencyValue}
        </td>
    </tr>   
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {APClerkName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {APClerkContactNo}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {APClerkAddress}
        </td>
    </tr>
</table>
