﻿
<table align="center" width="1000px">
    <tr>
        <td style="text-align:center;font-family:Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {VendorCode} - {VendorName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            {DearSP}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            {InitialCommToSPText1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {InitialCommToSPText2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Detailsbelow}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12" colspan="1">
            <br /><br />Date:&nbsp;{CommunicationDate}
        </td>
        <td style="font-weight:bold;font-family:Arial;font-size:12 ;text-align:left;vertical-align:bottom;">
            <br />{DiscrepancyNo}:&nbsp;{VDRNo}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12">
            <br /><br />{VendorName}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12;width:70% ">
            {VendorAddress1}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12">
            {VendorAddress2}
        </td>
    </tr>
    <!--<tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12">{VMPPIN}&nbsp;{VMPPOU}
        </td>
    </tr>-->
    <tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12">
            {VendorCity}
        </td>
    </tr>
    <!--<tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12">
            {VendorCountry}
        </td>
    </tr>-->
    <!--<tr>
        <td style="font-weight:bold;font-family:Arial;font-size:12 ;text-align:left;vertical-align:bottom;">
            <br /><br />{DeliveryNoteNumberText}:&nbsp;{DeliveryNoteNumber}
        </td>
    </tr>-->
    <!--<tr>
        <td style="font-family:Arial;font-size:12 " colspan="2">
            <br /><br />{DearSir/Madam},
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family:Arial;font-size:12">
            <br /><br />{ItemNotOnPoComm1Line1}
        </td>
    </tr>

    {ProductGrid}

    <tr>
        <td colspan="2" style="font-family:Arial;font-size:12">
            <br /><br />{ItemNotOnPoComm1Line2}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family:Arial;font-size:12">
            <br /><br />{ItemNotOnPoComm1PortalLinkMsg}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;" colspan="2">
            <br />
            {PortalLink}
        </td>
    </tr>-->
    <!--<tr>
        <td style="font-family:Arial;font-size:12" colspan="2">
            <br /><br /><br />{Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-family:Arial;font-size:12" colspan="2">
            {StockPlannerName}
        </td>
    </tr>
    <tr>
        <td style="font-family:Arial;font-size:12" colspan="2">
            {StockPlannerContact}
        </td>
    </tr>-->

    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 10" colspan="2">
            <br />
            <br />
            <br />           
            {AccountPayable}
        </td>
    </tr>

</table>
