﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 10" colspan="2">
            <br />
            <br />
            {SiteAddress}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {Date}:&nbsp;{CommunicationDate}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorCode}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left;
            vertical-align: bottom;">
              {VDRNOText}:&nbsp;{VDRNo}
           
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left">
          
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; width: 70%">
            {VendorAddress1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorCity}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <font style="font-weight: bold">{OurPuchaseOrderNumber}:</font>&nbsp;{PurchaseOrderNumber}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <font style="font-weight: bold">{DeliveryNoteNumberText}:</font>&nbsp;{DeliveryNoteNumber}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {DearSir/Madam},
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            {DiscrepancyRelatedText}
        </td>
    </tr>
    <tr>
        <td  style="font-weight: bold;font-family: Arial;font-size: 12;" colspan="2">
            <br />
            {Comments} :
        </td>
    </tr>
    <tr>
        <td  style="font-family: Arial;font-size: 12;" colspan="2">
            <br />
            {APCommentsText}
        </td>
    </tr>
    {ProductGrid}
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            <br />
            {Line1}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
           
            <br />
            <br />
            {AccountsPayableName}
        </td>
    </tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2">
        {AccountsPayable}</td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            ({AccountsPayableNumber})
        </td>
    </tr>
</table>
