﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {VendorCode} - {VendorName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            {DearSP}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            {InitialCommToSPText1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {InitialCommToSPText2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Detailsbelow}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorCode}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left;
            vertical-align: bottom;">
            <br />
            <br />
            {VENDORDISCREPANCYREPORT}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-weight: bold; font-family: Arial; font-size: 12; text-align: left">
            {VDRNOText}:&nbsp;{VDRNo}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; width: 70%">
            {VendorAddress1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorCity}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Hi},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <font style="font-weight: bold">{ShuttleDiscMessage}</font>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <b><a href="https://vendor-in-partnership.officedepot.eu/ModuleUI/Security/Login.aspx">https://vendor-in-partnership.officedepot.eu/ModuleUI/Security/Login.aspx</a></b>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            <font style="font-weight: bold">{TypeText}&nbsp;:&nbsp;</font>{Shortage}
        </td>
    </tr>
    {ProductGrid}
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            <br />
            {ManyThanksText}
        </td>
    </tr>
</table>
