﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            <br />
            <br />
            <b>{DebitNoteNumber}</b>&nbsp;:&nbsp;{DebitNoteNumberValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{OurVATReference}</b>&nbsp;:&nbsp;{OurVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;">
            {VendorAddress1}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{YourVATReference}</b>&nbsp;:&nbsp;{YourVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{DebitReason}</b>&nbsp;:&nbsp;{DebitReasonValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorCity}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12">
            <br />
            <br />
            {DearSirMadam},
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <br />
            <b>{Date}</b>&nbsp;:&nbsp;{DateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {DebitLetterOpenBOAPViewMessage1}&nbsp;{DebitLetterOpenBOAPViewMessage2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {DebitLetterOpenBOAPViewMessage3}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {InternalComments}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {DebitLetterOpenBOAPViewGridDetails}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 14" colspan="2">
            <b>{OfficeDepots}</b>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {APClerkAddress}
        </td>
    </tr>
</table>
