﻿<table align="center" width="1000px">
    <!--<tr>
        <td style="text-align: center; font-family: Arial" colspan="4">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>-->
      <!--<br />
     <br />-->
   <tr>
    
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Site} :
            {SiteValue}
        </td>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Date} :
            {DateValue}
        </td>

        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            &nbsp;</td>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            &nbsp;</td>
    
    </tr>      
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="4">
                <br />
     <br />
     
            {StockPlannerCancelSlotMesg2}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="4">
            <br />
            {StockPlannerCancelSlotMesg1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            <br />
            {ManyThanksNew}
            <br />
            {VIP Admin}
        </td>
    </tr>
</table>
