﻿<table align="center" width="1000px">
    <!--<tr>
        <td style="text-align: center; font-family: Arial" colspan="5">
            <img src="{logoInnerPath}" />
        </td>
    </tr>--> 
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left; vertical-align:top;"><b>Start Date Time</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{StartDateTime}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left; vertical-align:top;"><b>End Date Time</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{EndDateTime}</td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>  
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Vendor Records</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{VendorRecordsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>SKU Records</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{SKURecordsValue}</td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Vendor Errors</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{VendorErrorsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>SKU Errors</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{SKUErrorsValue}</td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>PO Records</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{PORecordsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Reciept Records</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{RecieptRecordsValue}</td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>PO Errors</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{POErrorsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Reciept Errors</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{RecieptErrorsValue}</td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Expedite Records</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{ExpediteRecordsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:left;"></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Expedite Errors</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right;">{ExpediteErrorsValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:left;"></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td colspan="5"><br /></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>List of files uploaded</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left;"><b>Previous Import</b></td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:left;"></td>
    </tr>
    <tr>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left; vertical-align:top">{ListofFilesUploadedKey}</td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right; vertical-align:top">{ListofFilesUploadedValue}</td>
        <td style="font-family:Arial; font-size:12; width:50px; text-align:left;"></td>
        <td style="font-family:Arial; font-size:12; width:400px; text-align:left; vertical-align:top">{PreviousImportKey}</td>
        <td style="font-family:Arial; font-size:12; width:75px; text-align:right; vertical-align:top">{PreviousImportValue}</td>
    </tr>
</table>
