﻿<table align="center" width="1000px">
    <!--<tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>-->
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {DearSirMadam},
        </td>
    </tr>
    
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
               <br />
     <br />
    
            {VendorCancelSlotMesg1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCancelSlotMesg3}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCancelSlotMesg2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
           <br />
            <br />
            <br />
            {ManyThanksNew}
        </td>
    </tr>
</table>
