.balloonstyle
{
	position:			absolute;
	padding:			5px;
	visibility:			hidden;
	border:				1px solid gray;
	font:				normal 12px Verdana;
	line-height:		18px;
	z-index:			10000;
	background-color:	#ededed;
	overflow-x:         auto;
	overflow-y:         auto;
	top:				-1000px;
	left:				-1000px;
	filter:				progid:DXImageTransform.Microsoft.Shadow(color=#96A8BA,direction=135,Strength=5);
};
.iballoonstyle
{
	position: absolute;
    z-index: 10;
    display: none;
};
#arrowhead
{
	z-index:	9999;
	position:	absolute;
	top:		-1000px;
	left:		0;
	visibility:	hidden;
};