﻿#content .gvclass th {
text-align: left !important;
}

.greencell td {
color: #339966;
font-weight: bold;
}

.whiteBox, .purpleBox, .grayBox, .greenYellow, .LightYellow, .blackBox, .orangeBox, .pinkBox, .greenBox, .redBox, .blueBox {
border: 1px solid #333;
background: #fff;
width: 80px;
height: 25px;
float: left;
}

.purpleBox {
background: purple;
border: 2px dashed black;
}

.grayBox {
background: grey;
}

.greenYellow {
background: GreenYellow;
}

.LightYellow {
background: LightYellow;
border: 2px solid red;
}

.blackBox {
background: black;
}

.orangeBox {
background: orange;
}

.pinkBox {
background: #FFB6C1;
}

.redBox {
background: #f00;
}

.greenBox {
background: #00b050;
}

.blueBox {
background: #002060;
}

.spanLeft span {
float: left;
margin-top: 6px;
margin-right: 5px;
width: 110px;
text-align: right;
}

</style >
<style type="text/css" >
.fixed_headers {
width: 100%;
table-layout: fixed;
border-collapse: collapse;
}

.fixed_headers .tableCol3 {
width: 245px !important;
}

.fixed_headers .tableCol3 {
width: 402px !important;
}

.fixed_headers .tableCol3 {
width: 559px !important;
}

.fixed_headers .tableCol4 {
width: 716px !important;
}

.fixed_headers .tableCol5 {
}

.fixed_headers .timeCol {
border: none;
width: 50px;
text-align: center;
vertical-align: top;
}

.fixed_headers thead.test tr {
display: block;
}

.fixed_headers tbody.test2 {
display: block;
overflow: auto;
width: 100%;
height: 300px;
}

.container {
max-width: 100%;
clear: both;
float: left;
margin-top: 30px;
}

.tableData {
border-collapse: collapse;
table-layout: fixed;
}

.tableData thead th {
background: #bfbfbf;
height: 40px;
}

.tableData .timeCol {
border: none;
width: 50px;
text-align: center;
vertical-align: middle;
}

.tableData th.timeCol {
vertical-align: middle;
line-height: 30px;
}

.tableData td {
height: 40px;
font-weight: bold;
}

.tableData tbody .timeCol {
background: #bfbfbf;
color: #000;
}

.tableData td {
overflow: hidden;
white-space: nowrap;
}

.tableData span {
overflow: hidden;
display: block;
max-width: 98%;
white-space: nowrap;
}

.tableData td.borderRightMain, .tableData th.borderRightMain {
border-right: 1px solid #fff;
}

.greenTd {
background: #00b050;
cursor: pointer;
}

.blueTd {
background: #002060;
}

.whiteTd {
background: #fff;
}

.redTd {
background: #f00;
cursor: pointer;
}

.orangeTd {
background: #FFA500;
cursor: pointer;
vertical-align: top;
line-height: 17px;
}

.pinkTd {
background: pink;
cursor: pointer;
}

.greyTd {
background: grey;
}

.greenYellowTd {
background: #adff2f;
}

.shadow {
-moz-box-shadow: inset 0 0 10px blue;
-webkit-box-shadow: inset 0 0 10px blue;
box-shadow: inset 0 0 10px blue;
}

.shadow1 {
-moz-box-shadow: inset 0 0 20px black;
-webkit-box-shadow: inset 0 0 20px black;
box-shadow: inset 0 0 20px black;
}

.tableWidth {
width: 990px
}

</style >
<style type="text/css" >
.outerTable {
position: relative;
width: 1000px;
overflow: hidden;
border-collapse: collapse;
}

/*thead*/
.outerTable thead {
position: relative;
display: block; /*seperates the header from the body allowing it to be positioned*/
overflow: visible;
}

.outerTable thead th {
min-width: 170px;
height: 32px;
}

.outerTable thead th:nth-child(1) { /*first cell in the header*/
position: relative;
display: block; /*seperates the first cell in the header from the header*/
min-width: 60px;
}

/*tbody*/
.outerTable tbody {
position: relative;
display: block; /*seperates the tbody from the header*/
height: 340px;
overflow: scroll;
}

.outerTable tbody td {
min-width: 170px;
max-width: 170px;
}

.outerTable tbody tr td:nth-child(1) { /*the first cell in each tr*/
position: relative;
display: block; /*seperates the first column from the tbody*/
height: 40px;
z-index: 99;
line-height: 17px;
min-width: 60px;
}

.innerTable {
z-index: 11;
position: relative;
}

.innerTable tbody {
position: inherit;
display: inherit;
overflow: inherit;
height: 40px;
}

.innerTable tbody tr td:nth-child(1) {
left: 0px !important;
}

.width85 {
width: 82px
}

.width170 {
width: 170px
}

.timeCol.innerTable1 {
margin: 0px !important;
}

.innerTable1 {
margin: 1px !important;
}

.outerTable1 {
position: relative;
/*width: 1000px;*/
overflow: hidden;
border-collapse: collapse;
}

/*thead*/
.outerTable1 thead {
position: relative;
display: block; /*seperates the header from the body allowing it to be positioned*/
overflow: visible;
}

.outerTable1 thead th {
}

.outerTable1 thead th:nth-child(1) { /*first cell in the header*/
position: relative;
display: block;
}

/*tbody*/
.outerTable1 tbody {
position: relative;
display: block;
}

.outerTable1 tbody td {
}

.outerTable1 tbody tr td:nth-child(1) { /*the first cell in each tr*/
position: relative;
display: block;
z-index: 99;
line-height: 17px;
}


.fixed_headers {
width: 100%;
table-layout: fixed;
}

.fixed_headers .timeCol {
border: none;
width: 50px;
text-align: center;
vertical-align: top;
}

.fixed_headers thead.test tr {
display: block;
position: relative;
}

.fixed_headers tbody.test2 {
display: block;
overflow: auto;
width: 100%;
height: 300px;
}

.tableData1 {
width: 100%;
table-layout: fixed;
text-align: center;
}

.tableData1 thead th {
background: #bfbfbf;
height: 30px;
}

.tableData1 .timeCol {
border: none;
width: 50px;
text-align: center;
vertical-align: top;
}

.tableData1 th.timeCol {
vertical-align: middle;
}

.tableData1 td {
height: 100px;
font-weight: bold;
padding: 1px 4px 4px 4px;
}

.tableData1 tbody .timeCol {
background: #bfbfbf;
color: #000;
}

.tableData1 td {
overflow: hidden;
white-space: nowrap;
border-radius: 19px;
}

.tableData1 span {
overflow: hidden;
display: block;
max-width: 100%;
white-space: nowrap;
}

.greenTdW {
background: #00b050;
cursor: pointer;
color: white;
}

.redTdW {
background: #f00;
cursor: pointer;
color: white;
}

.yellowTdW {
background: #ffff00;
cursor: pointer;
color: #e63900;
}

.highlightW {
text-align: right;
width: 100%;
}

.borderRight {
border-right: 1px solid #fff;
}

.minwindowWidth {
width: 140px;
}