﻿body
{
    font-family: arial;
}
.main-container
{
    width: 975px;    
    border: solid 1px #cccccc;
    background: url(../images/mainbg.jpg) repeat-x top;
    margin:0 auto;
}
.heading1
{
    background: url(../images/heading1bg.png) no-repeat;
    width: 365px;
    height: 34px;
    padding-top: 12px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: #636363;
    font-weight: bold;
}
.heading2
{
    background: url(../images/heading2bg.png) no-repeat;
    width: 598px;
    height: 34px;
    padding-top:12px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: #636363;
    font-weight: bold;
}
.graph-container
{
    overflow: hidden;
    padding: 5px;
}
.graph-container .left-col
{
    width: 365px;
    float: left;
    padding-left:3px;
}
.graph-container .right-col
{
    width: 595px;
    float: right;
}
.linkbtn
{
    display: inline-block;
    width: 237px;
    text-decoration: none;
    height: 34px;
    margin-bottom: 5px;
    padding-top: 10px;
    background: url(../images/btn-bg.png) no-repeat;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: #3c3c3c;
    font-weight: bold;
}
.linkbtn:hover
{
    background: url(../images/btn-bg-h.png) no-repeat;
    color: #06557d;
}
.subreport
{
    width: 241px;
    float: left;
}
.bottom-subreport
{
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10px;
}
h3
{
    margin: 20px 10px 0 10px;
    padding: 5px 5px 5px 10px;
    color: #000;

    font-size: 18px;
}
.top-txt
{
    text-align: left;
    background: #fff;
    padding: 20px;
}
.top-txt td, .top-txt th
{
    padding: 5px 0;
}
.top-txt td
{
    font-size: 14px;
}
.top-txt th
{
    font-size: 17px;
}
.hr-shadow
{
    background: url(../images/line-shadow.png) repeat-x;
    height: 4px;
    margin-bottom: 10px;
}

.data-grid table td{font-size:11px;padding:3px;text-align:center}
.data-grid table td span{display:none;}
.graph-row{overflow:hidden;}
.print-icon{background:url(../images/print-icon.png) no-repeat 0 0;display:inline-block;height:24px;width:24px;border:none;float:right;margin-right:10px;}
.info-icon{background:url(../images/info-icon.png) no-repeat 0 0;display:inline-block;height:24px;width:24px;border:none;float:right;margin-right:10px;margin-bottom:5px;}
.grid-list th{border-bottom:2px solid #e1e1e1;border-top:1px solid #e1e1e1;border-right:1px solid #e1e1e1;background:url(../images/grid-head.jpg) repeat-x;}
.grid-list th, .grid-list td{font-size:12px;padding:5px;}
.grid-list td{border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.grid-list{border-left:1px solid #e1e1e1;}
.grid-list tr.altcolor{background:#f6f6f6;}
.back-to-mainpage{
	display:inline-block;
	background:url(../images/back-to-mainpage.png) no-repeat;
	width:173px;
	height:37px;
	margin:10px 0 0 15px;
}
.back-to-mainpage:hover{
	background-position:0 -40px;
}