.ms-logo{float:right;}
.tab-inner{padding:0px;}
.tab-scroll{padding:12px 0 0 20px;}
.scroll-pane {
	width: 628px;
	height: 210px;
	overflow: auto;
	margin-left:10px;
	padding-right:10px;
}

.scroll-pane-acc {
	width: 690px;
	height: 413px;
	overflow: auto;

}
.scroll-pane p{line-height:16px;padding-bottom:6px;padding-right:10px;margin-bottom:6px;}

#pane1 {
	height: 150px;
	padding:5px;
	width:510px !important;
}
#pane2 {
	height: 150px;
	padding:5px;
	width:510px !important;
}
#pane3 {
	height: 150px;
	padding:5px;
	width:510px !important;
}
#pane4 {
	height: 150px;
	padding:5px;
	width:510px !important;
}
#pane5 {
	height: 150px;
	padding:5px 10px 5px 5px;
	width:415px !important;
}

#pane11, #pane22, #pane33, #pane44, #pane55, #pane66, #pane77, #pane88, #pane99, #pane10 {
	height: 235px;
	padding:5px;
	width:617px !important;
	
}
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background:url(../Images/scrollbar-line.jpg) right repeat-y ;
	background-position:1px 0px;
}
.jScrollPaneDrag {
	position: absolute;
	background: #b70101;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
