html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{padding:0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}img{border:0;}address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}caption{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{*font-size:100%;}legend{color:#000;}li{list-style:none;}
.Calender {z-index:9999}
