@import url(reset.css);/* import reset css file */

body{font:normal 11px Arial, Helvetica, sans-serif;background:url(../Images/body-bg.jpg);}
img{border:0;} /* set border none in all link image */
a{outline:0;} /*link outline none*/
.clear{clear:both;height:0;line-height:0;font-size:0;}

select{font-size:11px !important}
#container{width:1002px;margin:0 auto;border:1px solid #ebebeb;background:#fff;}/* main body container */

/*-------------------- Start Banner -----------------------*/
#header{width:1002px;}
#header .application-name{width:500px;float:left;font-size:14px;font-weight:bold;color:#fff;padding-top:5px;padding-left:10px;text-align:left;}
#header .top-link {color:#ffd6d6;text-align:right;padding-right:5px;_height:25px;} 
#header .top-link  span{font-weight:bold;color:#fff;}
#header .top-link .login-bg{background:url(../Images/logout-bg.png) no-repeat right top;height:25px;padding-top:5px;padding-right:12px;width:400px;float:right;}
/*#header .top-link a{color:#fff;text-decoration:none;padding-left:20px;font-weight:bold;}
#header .top-link a:hover{text-decoration:underline;}*/
#header .banner{height:54px;width:1002px;background:url(../Images/inner-bannerbg.png) top left;}
#header .banner .logo{width:227px;height:54px;background:url(../Images/logo-inner.png) no-repeat 0 0;float:left;}
#header .banner .banner-text{width:700px;float:right;text-align:right;padding-right:10px;height:30px;padding-top:5px;color:#bf0707;font-size:16px;vertical-align:bottom;}
#header .banner .banner-text-welcome{width:700px;float:right;text-align:right;padding-right:10px;height:20px;padding-top:0px;color:#000;font-size:11px;vertical-align:bottom;}
#header .banner .banner-text-welcome span{color:#a1a1a1;}
.menu-mainbg{background:url(../Images/menu-mainbg.png) no-repeat left top;height:37px;width:1002px;}
/*-------------------- End Banner -----------------------*/

/*-------------------- Start Middle Content -----------------------*/
#content{width:992px;padding:5px;/*min-height:500px;*/;overflow:hidden;}
#content h2{background:url(../Images/heading-bg.jpg) left top no-repeat;color:#000;height:27px;padding:6px 0 0 6px;
*height:25px;*padding:8px 0 0 6px;font-size:16px;/* IE 7 Only */
height/*\**/: 25px\9;padding/*\**/: 8px 0 0 6px\9;/* IE 8 Only */
margin-bottom:10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
#content h2{background:url(../Images/heading-bg.jpg) left top no-repeat;color:#000;height:25px;padding:8px 0 0 6px;font-size:15px;font-weight:bold;margin-bottom:10px;}
/*Chrome, Safari Only*/
}

#content h2.eu{background:url(../Images/heading-bg1.jpg) left top no-repeat;color:#000;height:41px;padding:6px 0 0 6px;
*height:39px;*padding:8px 0 0 6px;font-size:16px;/* IE 7 Only */
height/*\**/: 27px\9;padding/*\**/: 8px 0 0 6px\9;/* IE 8 Only */
margin-bottom:10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
#content h2.eu{background:url(../Images/heading-bg1.jpg) left top no-repeat;color:#000;height:39px;padding:8px 0 0 6px;font-size:15px;font-weight:bold;margin-bottom:10px;}
/*Chrome, Safari Only*/
}


#content .grid{border:1px solid #dadada;background:#fff;}
/*#content .grid th{background:url(../Images/table-headbg.jpg) repeat-x top left #faf5ef;border-bottom:1px solid #e8e8e8;height:22px;font-weight:bold;font-size:11px;color:#934500;padding:3px;vertical-align:top;}*/
#content .grid th{background:url(../Images/table-headbg.jpg) repeat-x top left #faf5ef;border-bottom:1px solid #e8e8e8;height:15px;font-weight:bold;font-size:11px;color:#934500;padding:4px 3px;vertical-align:top;}
#content .grid th td{color:#934500!important;}

#content .grid th a{text-decoration:underline;color:#934500;}
#content .grid th a:hover{text-decoration:none;}
#content .grid tr.altcolor{background:#F7F6F3 !important;}
#content .grid tr.altcolor td{color:#333333;}
#content .grid td{padding:3px 3px; }
#content .grid td a{color:#026dcf;text-decoration:none;}
#content .grid td a:hover{text-decoration:underline;}
#content .button-row{padding:5px 0 5px 0;text-align:right;}

#content .col-grid{border-top:1px solid #cbcbcb;border-right:1px solid #cbcbcb;}
#content .col-grid th{border-bottom:1px solid #cbcbcb;border-left:1px solid #cbcbcb;}
#content .col-grid td{border-bottom:1px solid #cbcbcb;border-left:1px solid #cbcbcb;}
#content .col-grid tr.altcolor{background:#F7F6F3 !important;}
#content .col-grid tr.altcolor td{color:#333333;}

#content .workflow-grid{border-left:1px solid #dadada;border-top:1px solid #dadada;background:#fff;}
#content .workflow-grid th{border-right:1px solid #dadada;border-bottom:1px solid #dadada;background:url(../Images/table-headbg.jpg) repeat-x top left #faf5ef;height:20px;font-weight:bold;font-size:11px;color:#934500;padding:3px ;}
#content .workflow-grid th a{text-decoration:underline;color:#934500;}
#content .workflow-grid th a:hover{text-decoration:none;}
#content .workflow-grid tr.altcolor{background:#F7F6F3 !important;}
#content .workflow-grid tr.altcolor td{color:#333333;}
#content .workflow-grid td{padding:3px 3px;border-right:1px solid #dadada;border-bottom:1px solid #dadada;}
#content .workflow-grid td a{color:#026dcf;text-decoration:none;}
#content .workflow-grid td a:hover{text-decoration:underline;}
#content .workflow-grid td table{border:none !important;}
#content .workflow-grid td table th{border:none !important;}
#content .workflow-grid td table td{border:none !important;}


#content .button-row a{text-decoration:none;color:#393939;padding-left:10px;}
#content .button-row a:hover{color:#393939;}
.button {
    background: url(../images/button-bg.jpg) repeat-x;
    height: 20px;
    border: 1px solid #dfc09c;
    color: #934500;
    text-shadow: 1px 1px 1px #ffffff;
    font-weight: bold;
    font-size: 11px;
    padding: 2px 7px 2px 7px;
    *padding: 5px 7px 5px 7px;
    padding-top /*\**/: 2px\9;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;-webkit-appearance: button;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    .button {
        padding: 2px 7px 2px 7px;
        cursor: pointer;
        -webkit-appearance: button
    ;}
}

.button-readonly{background:url(../images/button-bg1.jpg) repeat-x !important;height:20px;border:1px solid #dddddd !important;color:#898989 !important;text-shadow: 1px 1px 1px #ffffff;font-weight:bold;font-size:11px;padding:2px 7px 6px 7px;*padding:5px 7px 5px 7px;padding-top/*\**/: 2px\9;font-family:Arial, Helvetica, sans-serif;}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	.button-readonly{padding:2px 7px 2px 7px;}
}

.button-small {
    background: url(../Images/button-bg.png) no-repeat left top;
    width: 98px;
    height: 29px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border: none;
    outline: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: button;
}
.button-medium {
    background: url(../images/button-bg-m.png) no-repeat left top;
    width: 125px;
    height: 29px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border: none;
    outline: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: button;
}
.button-large {
    background: url(../images/button-bg-l.png) no-repeat left top;
    width: 185px;
    height: 29px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border: none;
    outline: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: button;
}
.add{background:url(../images/add-icon.png) no-repeat left 5px;border:none;padding-left:20px;margin-right:10px;cursor:hand;width:auto !important;}
.exporttoexcel{background:url(../images/excel-icon.png) no-repeat left 5px;border:none;padding-left:20px;cursor:hand;font-size:11px;width:auto !important;}
/*Form*/
.formbox{border:1px solid #e5e5e5;padding:15px;background:url(../Images/conteint-mainbg.jpg) bottom right no-repeat;/*min-height:300px;*/}
.formbox .formcolumn {width:440px;float:left;background:none;}
.formbox .formcolumn li{padding:5px;*padding:4px;}
.formbox .formcolumn li label{display:block;padding-top:5px;width:125px;float:left;color:#474747;font-weight:bold;}
.formbox .formcolumn li .inputbox{font-size:12px;border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top #ffffff;height:15px;line-height:15px;padding:0px 5px 2px 5px;width:250px;outline:0;}
.formbox .formcolumn li textarea{border:solid 1px #c5c5c5;background:url(../images/textarea-bg.jpg) repeat-x bottom #f2f2f2;padding:3px;width:255px;font-family:Arial, Helvetica, sans-serif;font-size:12px;resize:none;outline:0;}
.formbox .formcolumn li select{border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top;padding:3px 0px 3px 5px;width:262px;outline:0;}
.bottom-shadow{background:url(../images/form-bottom-shadow.jpg) no-repeat right top;height:4px;}
.right-shadow{padding-right:5px;background:url(../images/right-shadow.jpg) right repeat-y;}

.fieldset-form-mandatory{margin-bottom:10px;}
.fieldset-form-mandatory fieldset{border:1px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;}
.fieldset-form-mandatory legend{background:url(../images/legend-bg.jpg) repeat-x center #fafafa;color:maroon;font-size:11px;font-weight:bold;padding:6px 10px;border:1px solid #ddd4c5;}

.fieldset-form{margin-bottom:10px;}
.fieldset-form fieldset{border:1px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;}
.fieldset-form legend{background:url(../images/legend-bg.jpg) repeat-x center #fafafa;color:#934500;font-size:11px;font-weight:bold;padding:6px 10px;border:1px solid #ddd4c5;}
.formbox .inputbox{font-size:12px;border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top #ffffff;height:16px;line-height:16px;padding:0 2px 2px 2px;width:250px;outline:0;}
/*.inputbox{font-size:12px;border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top #ffffff;height:16px;line-height:16px;padding:0 2px 2px 2px;width:250px;outline:0;}*/
.inputbox-readonly{border:solid 1px #d4d4d4 !important;color:#868686 !important;Background:#e5e5e5 !important;background-image:none !important;}
/*.formbox input[type="checkbox"]{border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top #ffffff;outline:0;}*/
textarea{font-size:12px;border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top #ffffff;height:16px;line-height:16px;padding:0 2px 2px 2px;width:250px;outline:0;resize:none;}
.formbox select{border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top;padding:0px; font-size:12px; width:262px;outline:0;}
.formbox-readonly select{border:solid 1px #c5c5c5;background:#e5e5e5;padding:0px; font-size:12px; width:262px;outline:0;}
.form-table td, .form-table td label{padding:3px 0;color:#6b6b6b;font-weight:bold;}
.form-table th{background:url(../Images/table-headbg.jpg) repeat-x top left #faf5ef;border-bottom:1px solid #e8e8e8;height:22px;text-align:center;font-weight:bold;font-size:11px;color:#934500;padding:4px 3px 2px 3px;}
.nobold label,.nobold,.nobold input{font-weight:normal!important;color:#6b6b6b;}
.fieldset-form fieldset h3{color:#934500;font-weight:bold;font-size:13px;background:url(../images/subheading-border.jpg) repeat-x bottom;padding-bottom:7px;margin:5px 0;}
.top-settings{margin:0 auto;border:1px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;color:#6b6b6b;}
.top-settings select{border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top;padding:0px; font-size:12px; width:262px;outline:0;}

.top-setting-Popup{margin:0 0 0 0;border:1px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;color:#6b6b6b;}
.top-settingsNoBorder-popup{margin:0 0 0 0;border:0px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;/*padding:5px;*/color:#6b6b6b;}

.top-settingsNoBorder{margin:0 auto;border:0px solid #d9d9d9;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;color:#6b6b6b;}
.top-settingsNoBorder select{border:solid 1px #c5c5c5;background:url(../images/inputbox-bg.jpg) repeat-x top;padding:0px; font-size:12px; width:262px;outline:0;}

.checkbox-list input{margin-right:5px;float:left;}
.checkbox-list label{margin-right:15px;float:left;}
.form-table td input[type="radio"]{margin-right:3px;}

.form-tableGrid th{border:1px solid black;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;text-align:left;}
.form-tableGrid td{border:1px solid black;padding:5px;text-align:left;height:25px;}
.form-tableGrid td label{padding:3px 0;color:Black;font-weight:bold;}


/*Form*/
/*-------------------- End Middle Content -----------------------*/

/*-------------------- Start Footer -----------------------*/
#footer{width:1002px;height:22px;padding-top:10px;background:url(../Images/footer-bg.jpg) repeat-x top;text-align:center;}
/*-------------------- End Footer -----------------------*/

/*-------------------- Start Login Page -----------------------*/
#container-login{width:1002px;margin:0 auto;border:1px solid #ebebeb;}
#header .login-name{font-size:14px;font-weight:bold;color:#fff;padding-top:5px;padding-left:10px;text-align:right;height:24px;}
#header .login-banner{background:url(../Images/login-bannerbg2.jpg) no-repeat left top;width:1002px;height:93px;}
#login{background:url(../Images/login-innerbg.png) bottom right no-repeat;width:962px;padding:20px;min-height:500px;}
#login .login-box{background:url(../Images/login-boxbg.png);width:510px;height:296px;margin:100px auto 0 auto;*margin-top:120px;_margin-bottom:100px;}
#login .login-box ul{width:260px;padding:50px 0 0 240px;*padding:45px 0 0 240px;}
#login .login-box ul li{padding:3px 0;*padding:2px;}
#login .login-box ul li .error{background:#fff6c5;border:1px solid #7b0000;text-align:center;color:#a80000;padding:5px 0;}
#login .login-box ul li label{color:#fff;padding-left:3px;}
#login .login-box ul li .inputbox{background:url(../Images/login-inputbg.png) no-repeat;height:25px;*height:25px;padding-top:7px;padding-left:5px;}
#login .login-box ul li .inputbox input{background:none;border:none;width:160px;color:#480000;}
.link{min-height:10px !important;_height:10px !important;_padding-bottom:0px !important;}
.link a{color:#fff;text-decoration:none;}
.link a:hover{text-decoration:underline;}
/*-------------------- End Login Page -----------------------*/



/*Message*/
.successmsg{padding-bottom:5px;margin-top:10px;}
.successmsg span{display:block;padding:5px;background:#f7fff2;border:solid 1px #bfce95;font-size:16px;color:#618706;text-align:center;}
.successmsg img{margin-right:4px;}

.errormsg{padding-bottom:5px;margin-top:10px;}
.errormsg span{display:block;padding:5px;background:#fdf5fa;border:solid 1px #fbbfc6;font-size:16px;color:#e9565d;text-align:center;}
/*Message*/

/*------------Model popup Extender------------*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	position:fixed;
	overflow-x:hidden;
}
/*------------------------------------------*/
.close-btn{background:url(../Images/fancy_close.png) no-repeat left top;position: absolute; right: -44px;_right:-34px; top: -15px; z-index: 999999;width:30px;height:30px;}
.template-heading{padding-left:40px !important;}
.template-heading-content{padding-left:70px !important;}

.SlotGrid th{border:1px solid ;background:url(../images/fieldset-bg.jpg) repeat-x bottom #ffffff;padding:5px;text-align:center;}
.SlotGrid td{border:1px solid ;padding:5px;text-align:center;height:25px;}
.SlotGrid td label{padding:3px 0;font-weight:bold;text-align:center;}

.action-required-heading{background:url(../Images/table-headbg.jpg) repeat-x top left #faf5ef;border:1px solid #e8e8e8;min-height:22px;font-weight:bold;font-size:13px;color:#934500;padding:3px;display:block;}
.yellow-bg{background:url(../images/yellow-bg.jpg) repeat-x top #fffdf4;border:solid 1px #fffdf4;}
.blue-bg{background:url(../images/blue-bg.jpg) repeat-x top #f2fbff;border:solid 1px #90bacf;}
.red-bg{background:#ED1A3A;border:solid 1px #90bacf;color:#fff;}
.aqua-bg{background:#00ffff;border:solid 1px #000000;color:#000000;}
.brown-bg{background:#f6bc81;border:solid 1px #000000;color:#000000;}
.lightgreen-bg{background:#ccffcc;border:solid 1px #fffdf4;color:#000000;}


/*------------Start Dashboard ------------*/
#banner{width:981px;height:182px;position:relative;border:1px solid #e9e9e9;}
/*main banner*/

#slideshow {
 margin: 0px 0 0 0px;
}
#slideshow1 {
 margin: 0px;
}

#prev2{position:relative;top:120px;left:10px;z-index:99;}
#next2{position:relative;z-index:99;float:right;right:20px;top:120px;*top:100px;}
#nav {
 
 position:absolute;
 z-index:999;
width:auto;
 top:156px;
 right:0px;

}
#nav li {
 display:block;
 list-style:none;
 padding:0px;
 width:20px;
 height:20px;
 margin:3px 7px 5px 0px;
 background:url(../Images/banner-active.gif) no-repeat;
 float:left;
}
#nav li a {
 
 width: 20px; DISPLAY: block; height:20px; 
 display:block;
 cursor:hand;
 text-decoration:none;
}
#nav li:hover {
 width: 20px; DISPLAY: block; height:20px;
}
#nav LI.activeLI {
 background:url(../Images/banner-active.gif) no-repeat 0 -23px;
 height:20px;width:20px;
}
/*end banner*/
.top-content{padding-top:5px;}
.top-content h5{font-weight:bold;margin-bottom:0px;padding-bottom:5px;}
.contenttab{margin-left:2px;width:530px;height:230px;float:left;background:url(../Images/home-tab-content-bg.jpg) left bottom no-repeat;font-size:12px;}
.your-dashboard{float:right;background:url(../Images/your-dashboard-bg.png) 0 24px no-repeat;width:452px;height:230px;}
.dashboard-tab{margin-bottom:0px;}
.dashboard-tab li{background:url(../Images/left-end-tab-normal.gif) left top no-repeat;padding-left:14px;}
.dashboard-tab li a{background:url(../Images/right-end-tab-normal.gif) right top;display:block;color:#fff;padding:6px 20px 3px 0px;width:140px;font-weight:bold;text-decoration:none;font-size:12px;text-align:center;}
.dashboard-tab li td{text-align:center;}
.dashbaord-list{font-size:12px;}
.dashbaord-list th{text-align:left;padding:5px;}
.dashbaord-list td{padding:5px;}
.contact-details{margin-top:3px;}
.add-left{width:295px;float:left}
.add-right{width:295px;float:left;padding-left:10px}
/*------------End Dashboard ------------*/
#trVendorOptions {display:table-row!important;}


/*------------Start Username Drop Down ------------*/
#header .top-link .login-bg1{height:26px;padding-top:10px;padding-right:0px;width:400px;float:right;}
#header .top-link .login-bg1 a{color:#fff;font-weight:bold;text-decoration:underline;margin:0 5px;}
#header .top-link .login-bg1 a:hover{text-decoration:none;}
#header .top-link .login-bg1 .home{float:right;}
#header .top-link .login-bg1 .login-detail{float:right;}

.setting{height:23px;float:right;margin-top:2px;}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown dd ul{float:right;right:-22px;}
.dropdown a, .dropdown a:visited {text-decoration:none; outline:none;}
.dropdown dt a {display:block;color:#fff;font-weight:bold;}
.dropdown dt a span {cursor:pointer; display:block;height:23px;text-indent:-9999px;background:url(../images/setting.png) no-repeat left top;z-index:999 !important;position:absolute;}
.dropdown dd ul {z-index:0; margin-top:9px;background:url(../images/dd-profile.png) left -42px no-repeat; color:#C5C0B0; display:none;height:55px;
				  padding:2px 0px 3px 0; position:absolute; top:0px; width:auto; width:130px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;color:#333;font-weight:bold;text-align:center;}
.dropdown dd ul li a:hover {color:#0079ba !important;}
.dropdown dd ul li.divider {border-bottom:1px solid #9ea0a3;}
.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}  
/*------------End Username Drop Down ------------*/


/*------------Start Username Drop Down ------------*/
#header .top-link .login-bg1{height:20px;padding-top:5px;padding-right:0px;width:400px;float:right;}
.setting{height:23px;float:right;margin-top:2px;}
.dropdownstartmenu dd, .dropdownstartmenu dt, .dropdownstartmenu ul { margin:0px; padding:0px; }
.dropdownstartmenu dd { position:relative; }
.dropdownstartmenu dd ul{float:right;right:-22px;}
.dropdownstartmenu a, .dropdownstartmenu a:visited {text-decoration:none; outline:none;}
.dropdownstartmenu dt a {display:block;color:#fff;font-weight:bold;}
.dropdownstartmenu dt a span {cursor:pointer; display:block;height:23px;text-indent:-9999px;background:url(../images/setting.png) no-repeat left top;z-index:999 !important;position:absolute;}
.dropdownstartmenu dd ul {z-index:0; margin-top:9px;background:url(../images/dd-profile.png) left -42px no-repeat; color:#C5C0B0; display:none;height:55px;
				  padding:2px 0px 3px 0; position:absolute; top:0px; width:auto; width:130px; list-style:none;}
.dropdownstartmenu span.value { display:none;}
.dropdownstartmenu dd ul li a { padding:5px; display:block;color:#333;font-weight:bold;text-align:center;}
.dropdownstartmenu dd ul li a:hover {color:#0079ba !important;}
.dropdownstartmenu dd ul li.divider {border-bottom:1px solid #9ea0a3;}
.dropdownstartmenu img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}  
/*------------End Username Drop Down ------------*/

.country-heading{border:1px solid #f1e3d0;background:url(../images/dashboard-contact-headingb.jpg) repeat-x left top;padding:2px;color:#6d2200;font-weight:bold;font-size:12px;}
.country-heading span{color:#a50201;font-size:14px;font-weight:bold;display:block;padding:2px 0 7px 0;text-transform:uppercase;}
.country-heading td{padding-bottom:2px;padding-left:2px;}
.contact-details .scroll-pane{margin-left:5px !important;}
.flash-banner object, embed{margin-top:-5px;}


       /* jQuery lightBox plugin - Gallery style */
#gallery
{
background-color: #444;
padding: 10px;
width: 520px;
}
#gallery ul
{
list-style: none;
}
#gallery ul li
{
display: inline;
}
#gallery ul img
{
border: 5px solid #3e3e3e;
border-width: 5px 5px 20px;
}
#gallery ul a:hover img
{
border: 5px solid #fff;
border-width: 5px 5px 20px;
color: #fff;
}
#gallery ul a:hover
{
color: #fff;
}

.NoAnchor  a{color:Black;text-decoration:none !important;padding-left:20px;}
.NoAnchor a:hover{text-decoration:underline !important;}


/* css for add in style.css */
.left-nav-month-list {border:solid 1px #c0c0c0;width:250px;border-bottom:none;}
.left-nav-month-list table td{border-bottom:solid 1px #c0c0c0;background:url(../images/month-list-bg.jpg) repeat-x top #fefefe;}
.left-nav-month-list table td a{background:url(../images/cal-icon.png) 5px 5px no-repeat;text-decoration:none;font-size:11px;color:#000;padding:10px 35px;display:block;}
.left-nav-month-list table td a:hover{color:#ed1a3a;}


.submit{font-size:12px;background:url(../images/submit-right.png) no-repeat right;color:#fff;font-weight:bold;text-decoration:none;padding-right:4px;height:24px;padding-top:6px;*padding-top:10px;padding-bottom:10px;}
:root .submit{padding-top:7px  ;}
.submit a{background:url(../images/submit-left.png) no-repeat;padding:6px 10px 10px 16px;display:inline-block;text-decoration:none;color:#fff;}
.button-row{margin-top:5px;margin-bottom:15px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
:root .submit{padding-top:5px  ;}
 .submit{padding-top:5px;padding-right:3px;}
}

.count-label{padding:0px 5px;border:1px solid #e5726f;background:#d71e1e;color:#fff;font-weight:bold;text-align:center;display:block;float:right;margin-right:2px;margin-left:2px;}
.checkboxlist label
{
    float:left;display:block;margin-right:10px;
}
.checkboxlist input
{
    margin-top:4px;float:left;margin-right:2px;
}
.button-align
{
    overflow:hidden;
    padding:7px 0 0 0;
}
.button-align input
{
  margin-right:10px;float:left;  width:145px;
}
.checkbox-input input{margin-right:5px;float:left;margin-top:1px;}
.checkbox-input label{float:left;margin-top:1px;}
.topheadgrid th{text-align:center;}

.radiobuttonlist label
{
    float:left;display:block;margin-right:25px;
}
.radiobuttonlist input
{
    margin-top:0px;float:left;margin-right:2px;
}
.search-controls-btn{width:80px;}
#showhide{background:url(../images/plus-icon.png) no-repeat;width:20px;height:20px;display:block;text-indent:-9999px;margin-bottom:5px;margin-left:2px;}
.minus-icon{background:url(../images/minus-icon.png) no-repeat !important;}
.fullwidth-grid{width:1565px!important;}
.searchgrid-1 td, .searchgrid-1 th{color:#000!important;font-size:9px!important;padding:2px!important;}
.searchgrid-1 th{font-weight:bold!important;color:#934500!important;}
.red-bg{background:red;}
.blue-bg{background:#94cbff;}
.green-bg{background:#8fbe46;}
.white-bg{background:#fff;}

/* paging */
.PagerContainerTable
{
    font-weight:bold;
}
.PagerContainerTable a
{
     color: #026DCF;
    text-decoration: none;
    padding:4px;
    display:inline-block;
}
.PagerContainerTable a:hover
{
    text-decoration:underline;
}
.radio-calendar input[type='text']{margin-left:10px;margin-right:10px;}
.radio-calendar input[type='radio'], .radio-calendar label{margin-top:2px;}

/************ popup ******************/
.popup-maincontainer{background-color: #d9d9d9; padding: 5px;border: 1px solid #848484; text-align: left;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.popup-maincontainer h3{padding:0px!important;margin:3px 0;color:#be0606;font-size:16px;}
.popup-innercontainer{border:solid 1px #c5c5c5;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:10px;}
.popup-maincontainer .row1{text-align:left;margin:5px 0;}
.popup-maincontainer .row{text-align:center;margin:5px 0;}
.popup-maincontainer .row input{color:#be0606;background:#fbe5d6;border:solid 1px #f4b183;padding: 0 10px;
line-height: 20px;
height: auto;}
/************QUERY OVERVIEW TABLE DESIGN*************/
.table-border-color
        {
            border: solid 1px red;
            margin-bottom: 7px;
        }
        
        .table-border-color td table
        {
            border: solid 1px red;
        }
        .table-border-color td
        {
            padding: 0px 2px;
        }
        .table-border-color td table td
        {
            padding: 0px !important;
        }

        .showAddImage {
            background: url(../images/plus-icon.png) no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            text-indent: -9999px;
            margin-bottom: 5px;
            margin-left: 2px;
        }