#wrap {margin:25px;}
/*ul,li {list-style:none;}*/
/* mac hide \*/
/* end hide*/
.inner-tab-list li{list-style:disc inside outside;margin:.75em 0 0 .75em;}
#tab-me
		{
			width: 100%;
			height:30px;
		}
		#tab-me li .first4
		{
			width:94px;
			/*margin-left:6px;*/
		}
		
ul#tab-me li, ul#tab-me li a{
	float:left;
	line-height:1.2em;
	text-decoration:none;
	color:#fff;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	list-style:none;

}
ul#tab-me li{
	background:url(../Images/normal-join.gif) no-repeat right top;
	list-style:none;
}
ul#tab-me li a{	padding:6px 30px 4px 8px;outline:none;width:77px;}
ul#tab-me li.first a{
	background:url(../Images/left-end-tab-normal.gif) no-repeat left top;
	
}
ul#tab-me li.last{	
	background:url(../Images/right-end-tab-normal.gif) no-repeat right top ;
}
ul#tab-me li.last a{padding-right:20px;width:130px;}	

/* set current item when its in the middle of the tabs */
ul#tab-me li#current, ul#tab-me li.ui-state-active{
	background: url(../Images/center-tab-selected-right.gif) no-repeat right top;
}
ul#tab-me li.ui-state-active a{
	background:url(../Images/center-tab-selected-left.gif) no-repeat -220px 0;
	margin-left:-25px;
	padding-left:35px;
	position:relative;
	color:#ba1311;
	font-size:12px;
	font-weight:bold;
}


ul#tab-me li#current a {
	background:url(../Images/center-tab-selected-left.gif) no-repeat -220px 0;
	margin-left:1px;
	padding-left:5px;
	position:relative;
	color:#ba1311;
	font-size:12px;
	font-weight:bold;
}



ul#tab-me li#current a:hover, ul#tab-me li.ui-state-active a:hover{color:#ba1311;}

ul#tab-me li#current1{
	background: url(../Images/center-tab-selected-right.gif) no-repeat right top;
}
ul#tab-me li#current1 a{
	background:url(../Images/center-tab-selected-left.gif) no-repeat -220px 0;
	margin-left:-25px;
	padding-left:35px;
	position:relative;
	color:#ba1311;
	font-size:12px;
	font-weight:bold;
}
ul#tab-me li#current1 a:hover{color:#ba1311;}
/* set current item when its on the far right tab  */
ul#tab-me li#lastcurrent {
	background:url(../Images/right-end-tab-over.gif) no-repeat right top;
}
ul#tab-me li#lastcurrent a{
	background:url(../Images/center-tab-selected-left.gif) no-repeat -220px 0;
	margin-left:-25px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	color:#ba1311;
	font-size:12px;
	font-weight:bold;
	width:133px;
}
ul#tab-me li#lastcurrent a:hover{color:#ba1311}
/* set current item when its the first tab  */
ul#tab-me li#firstcurrent{
	background:url(../Images/center-tab-selected-right.gif) no-repeat right top;
}
ul#tab-me li#firstcurrent a{
	background:url(../Images/left-end-tab-over.gif) no-repeat left top;
	}
ul#tab-me li#firstcurrent a {
	/*background:url(../Images/left-end-tab-over.gif) no-repeat left top;*/
	padding-left:20px;
	color:#ba1311;
	font-size:12px;
	font-weight:bold;
}
ul#tab-me li#firstcurrent a:hover, .ui-state-active a:hover{color:#ba1311;}

/* hover */
ul#tab-me li a:hover{color:#fff;}

div{outline:none;}


