<%@ Page Language="C#" Theme="" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
    {
        _to = Server.UrlDecode(Request.QueryString["to"]);
    }
    private string _to;
    protected void js()
    {
        Response.Write("window.location.replace(\"" + _to + "\");");
    }
</script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<script type="text/javascript" language="JavaScript">
<!--
<% js(); %>
-->
</script>
    <title></title>
</head>
<body>
</body>
</html>
