﻿<head>
    <style type="text/css">
        .style3
        {
            height: 17px;
        }
        .style4
        {
            height: 21px;
        }
        .style5
        {
            height: 18px;
        }
    </style>
</head>
<table align="center" width="1000px">
    <!--<tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>-->

    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {BoInitialEmail2}
        </td>

    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2" class="style4"></td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {BoInitialEmail3}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2" class="style5"></td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {BoInitialEmail4}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr style="display:none">
        <td style="font-family: Arial; font-size: 12" colspan="2" class="style3">
            {BoInitialEmail5}
        </td>
    </tr>
    <tr style="display:none">
        <td style="font-family: Arial; font-size: 12" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr style="display:none">
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {BoInitialEmail6}
        </td>
    </tr>
    <tr style="display:none">
        <td style="font-family: Arial; font-size: 12" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerContactNo}
        </td>
    </tr>
</table>
