﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
           
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
          
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;">
            {VendorAddress1}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
           
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
           
        </td>
    </tr>   
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
           
        </td>
    </tr>   
    <tr>
        <td style="font-family: Arial; font-size: 12">
             {VendorCity}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            
        </td>
    </tr>      
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12">
            <br />
            <br />
            {DearSirMadam},
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <br />
            <b>{Date}</b>&nbsp;:&nbsp;{DateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication2Message1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {GridValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication2Message2}
        </td>
    </tr> 
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication2Message3}
        </td>
    </tr>    

    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication2Message4}
        </td>
    </tr>    

    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerContactNo}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {APClerkAddress}
        </td>
    </tr>
</table>
