﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucAddButton.ascx.cs" Inherits="CommonUI.UserControls.ucAddButton" %>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>
<cc1:ucButton ID="btnAdd" runat="server" CssClass="add" onclick="btnAdd_Click" Width="40px" />
