﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucCountrySite.ascx.cs" Inherits="ucCountrySite" %>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>

<cc1:ucDropdownList ID="ddlCountry" runat="server" Width="150px" 
    onselectedindexchanged="ddlCountry_SelectedIndexChanged">   
</cc1:ucDropdownList>