﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucDeleteButton.ascx.cs" Inherits="ucDeleteButton" %>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>
<cc1:ucButton ID="btnDelete" runat="server" CssClass="Delete"
     Width="40px" onclick="btnDelete_Click" />
