﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucExportToExcel.ascx.cs" Inherits="ucExportToExcel" %>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>
<cc1:ucButton ID="btnExportToExcel" runat="server" CssClass="exporttoexcel"
    OnClick="btnExport_Click" Width="109px" Height="20px" />