﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucSite.ascx.cs" Inherits="ucSite" %>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>

<cc1:ucDropdownList ID="ddlSite" runat="server" Width="150px" 
    onselectedindexchanged="ddlSite_SelectedIndexChanged"></cc1:ucDropdownList>
    <asp:HiddenField ID="hiddenUserSiteIDs" runat="server" />

