﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {SiteAddress}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            {Date}&nbsp;-&nbsp;{CommunicationDate}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            {POHash}&nbsp;-&nbsp;{POValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            {InvoiceNumHash}&nbsp;-&nbsp;{InvoiceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            {DiscrepancyNo}&nbsp;-&nbsp;{DiscrepancyValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            <br />
            {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <font style="font-weight:bold"> <br />
            <br />{DateofDelivery} -</font>&nbsp;{DeliveryDate}</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {InvoiceQueryReminder1Line1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {InvoiceQueryReminder1Line2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {InvoiceQueryReminder1Line3}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {PortalLink}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
           <b>{Yoursfaithfully}</b>
        </td>
    </tr>

     <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {APClerk}
        </td>
    </tr>
   
</table>
