﻿
<table align="center" width="1200px">
    <tr><td style="text-align:center;font-family:Arial" colspan="2"><img src="{logoInnerPath}" /></td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:10 " colspan="2"><br /><br />{SiteAddress}</td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2"><br />{Date}:&nbsp;{CommunicationDate}</td></tr>

    <tr>
        <td style="font-family:Arial;font-size:12;vertical-align:bottom; "><br /><br />{InventoryManagerName}</td>
        <td style="font-weight:bold;font-family:Arial;font-size:12 ;text-align:left;vertical-align:bottom; ">
            <br /><br />{SUPPLIERDISCREPANCYREPORT}
        </td>
    </tr>
    <tr>
        <td style="font-family:Arial;font-size:12">{InventoryManager}</td>
        <td style="font-weight:bold;font-family:Arial;font-size:12 ;text-align:left  ">
            {VDRNOText}:&nbsp;{VDRNo}
        </td>
    </tr>

    <tr><td style="font-weight:bold;font-family:Arial;font-size:12 " colspan="2"><br /><br />{DearSir/Madam},</td></tr>
    <tr>
        <td style="font-family:Arial;font-size:12" colspan="2">
            <br />
            <font style="font-weight:bold">{OurPuchaseOrderNumber}:</font>&nbsp;{PurchaseOrderNumber}
        </td>
    </tr>
    {CarrierRow}
    <tr><td style="font-family:Arial;font-size:12"><font style="font-weight:bold">{DeliveryNoteNumberText}:</font>&nbsp;{DeliveryNoteNumber}</td><td style="font-family:Arial;font-size:12;text-align:left"><br /><font style="font-weight:bold">Date of Delivery:</font> &nbsp;{DeliveryDate}</td></tr>
    <tr><td colspan="2" style="font-family:Arial;font-size:12"><br />{DiscrepancyRelatedText}</td></tr>

    <tr><td colspan="2" style="font-family:Arial;font-size:12;"><br /><br />{AdditionalComments}</td></tr>

    <tr><td colspan="2" style="font-family:Arial;font-size:12;color:blue;word-break: break-all;"><br /><br />{DiscrepancyComment}</td></tr>

    <tr><td colspan="2" style="font-family:Arial;font-size:12"><br /><br />{DiscrepancyCommentsBy}</td></tr>

    <tr><td colspan="2" style="font-family:Arial;font-size:12"><br /><br />{DiscrepancyCommentsDisplay}</td></tr>

    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12">
            <br />
            {PortalLink}
        </td>
    </tr>


    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2"><br /><br /><br />{Yoursfaithfully}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2">{GoodsInManagerName}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2">{GoodsInManager}</td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2">({GoodsInContactNo})</td></tr>
</table>
