﻿
<p>
    Hello,<br /><br />
    Please see attached the inbound discrepancy tracker for week {week}.<br /><br />
    Please review the open discrepancies. If you wish to add any additional text to the email which will be circulated
    on Friday morning then please log onto VIP
    and go to Admin Settings>Communication>StockPlanner Tracker Discrepancy Report<br /><br />
    Add your the details you wish to add and click submit.<br /><br />
    Should wish to add some additional commentary on the email enter the text and click on submit.<br /><br />
    {url}<br /><br />
    Thanks,
</p>

