﻿<p> 
    Hi all,<br /><br />
    See inbound discrepancy tracker attached - week {week}.<br /><br />
    Sheet1=Source Data.<br /><br />
    Sheet2=Summary by pending with,site and discrepancy type.<br /><br />
    Sheet3=Age of Discrepancyopen with planner and vendor.<br /><br />
    Can everyone work on their overdue discrepancies?<br /><br />
    Thanks in advance,<br /><br />
    Regards.<br /><br />
</p>
