﻿<table border="0" cellspacing="0" style="font-weight: bold; font-family: Arial; font-size: 11"
    align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>
     
    <tr>
        <td colspan="2">
            {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {DeliveryChaseText1}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {DeliveryChaseText2}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%">
                <tr>
                    <td valign="MIDDLE" style="width:25%">
                        <b><u>{SiteRequiredKey}</u></b>
                    </td>
                    <td valign="MIDDLE" style="width:25%">
                        <b><u>{PurchaseOrderNumber}</u></b>
                    </td>
                    <td valign="MIDDLE" style="width:25%">
                        <b><u>{NoOfLinesOutstanding}</u></b>
                    </td>
                    <td valign="MIDDLE" style="width:25%">
                        <b><u>{PODueDate}</u></b>
                    </td>
                </tr>
                {datatable}
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {DeliveryChaseText3}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
           {DeliveryChaseText4}
        </td>
    </tr>
     <tr>
        <td colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {OfficeDepots}
        </td>
    </tr>
</table>
