﻿<head>
    <style type="text/css">
        .style1
        {
            width: 50%;
        }
    </style>
</head>
<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {SiteAddress}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {Date}:&nbsp;{DateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;" class="style1">
            <br />
            <br />
            {VendorCodeValue}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            <br />
            <br />
            {PurchaseOrderNumber}:&nbsp;{PurchaseOrderNumberValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorNameValue}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            {DeliveryDate}:&nbsp;{DeliveryDateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;" class="style1">
            {VendorAddress1Value}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorAddress2Value}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VMPPIN}&nbsp;{VMPPOU}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" class="style1">
            {VendorCity}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
             {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">           
            <br />
            {POReconciliationNSBIText1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">           
            <br />
            {POReconciliationNSBIText2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">           
            <br />
            {PortalLink}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">            
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
</table>
