﻿<head>
    <style type="text/css">
        .style1 {
            width: 81px;
        }
    </style>
</head>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="text-align: center; font-family: Arial">
            <img src="{logoInnerPath}" />
        </td>
    </tr>

    <tr>
        <td style="height: 60px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: top;">
            <b>{DearSirMadam},</b>
        </td>
    </tr>

    <tr>
        <td style="height: 30px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: top;">
            {PurchaseOrderLetter1}
        </td>
    </tr>

    <tr>
        <td style="height: 30px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: top;">
            {PurchaseOrderLetter2}
        </td>
    </tr>

    <tr>
        <td style="height: 30px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: top;">
            {PurchaseOrderLetter3}
        </td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: top;">
            <a href="https://vendor-in-partnership.officedepot.eu/ModuleUI/Security/Login.aspx">
                https://vendor-in-partnership.officedepot.eu/ModuleUI/Security/Login.aspx
            </a>
        </td>
    </tr>

    <tr>
        <td style="height: 30px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; width: 400px; text-align: left; vertical-align: top;">
            <b>{Yoursfaithfully}</b>
        </td>
    </tr>

    <tr>
        <td style="height: 20px;"></td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; width: 400px; text-align: left; vertical-align: top;">
            <b>{StockPlannerNameValue}</b>
        </td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; width: 400px; text-align: left; vertical-align: top;">
            <b>{StockPlanner}</b>
        </td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12; width: 400px; text-align: left; vertical-align: top;">
            ({StockPlannerNumberValue})
        </td>
    </tr>

    <tr>
        <td style="height: 30px;"></td>
    </tr>

    <tr>
        <td style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; text-align: left;
            vertical-align: top;">
            <b>{PurchaseOrder}</b>&nbsp;&nbsp;<b>{PurchaseOrderValue}</b>
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top: solid 2px #272727;
    border-right: solid 2px #272727;">

    <tr>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-bottom: solid 2px #272727; padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {TOInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-bottom: solid 2px #272727; padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {DELIVERTOInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-bottom: solid 2px #272727; padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {INVOICETOInCaps}
        </th>

    </tr>


    <tr>
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {SupplierAddressValue}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {OfficeDepotDeliveryAddressValue}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {APLocationLinkedWithDeliverySiteValue}
        </th>

    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top: solid 2px #272727;
    border-right: solid 2px #272727;">
    <tr>
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-bottom: solid 2px #272727; padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; width:50%">
            {DELIVERYInCaps}
        </th>
        <th style="padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        border-left: solid 2px #272727;
        border-bottom: solid 2px #272727;
        padding: 5px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 50%">
            {PAYMENTTERMSInCaps}
        </th>
    </tr>
    <tr>

        <th style="padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        border-left: solid 2px #272727;
        border-bottom: solid 2px #272727;
        padding: 5px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 50%">
            {DELIVERYValue}
        </th>

        <th style="padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        border-left: solid 2px #272727;
        border-bottom: solid 2px #272727;
        padding: 5px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 50%">
            {PAYMENTTERMSValue}
        </th>
    </tr>

</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
              border-bottom: solid 2px #272727; padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {FORATTENTIONOFInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
             padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {FUNCTIONInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
             padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;border-right: solid 2px #272727;">
            {PHONENUMBERInCaps}
        </th> 
    </tr>
    <tr>
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
             padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {PurchaseOrderLetter4}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-top: solid 2px #272727;  padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;"> 
            {FUNCTIONValue}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-top: solid 2px #272727; border-right: solid 2px #272727; padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {PHONENUMBERValue}
        </th>
         
    </tr>

    <tr>
        
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-top: solid 2px #272727; border-bottom: solid 2px #272727; padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {BUYERInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            border-top: solid 2px #272727; border-bottom: solid 2px #272727; padding: 5px;
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {PURCHASEORDERNUMBERInCaps}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {DATEORDERWASRAISEDInCaps}
        </th>

    </tr>

    <tr> 
        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <span style="font-size: 17px; margin-right: 10px;">{StockPlannerNameValue}</span>
            {StockPlannerNumberValue}
        </th>

        <th style="padding-top: 3px; padding-bottom: 3px; text-align: left; border-left: solid 2px #272727;
            padding: 5px; font-size: 14px; font-size: 20px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
            {PurchaseOrderValue}
        </th>

        <th style="text-align: center; border-left: solid 2px #272727; border-right: solid 2px #272727;
            padding: 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            {PODDMonthYearValue}
        </th>
    </tr>

</table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top: solid 2px #272727;
    border-right: solid 2px #272727;">
        <tr>
            <th style="padding-top: 3px; padding-bottom: 3px; border-left: solid 2px #272727;
            border-bottom: solid 2px #272727; border-right: solid 2px #272727; text-align: left;
            font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                {LINEInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {VIKINGCODEInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: center; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {OFFICEDEPOTCODEInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {VENDORCODEInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {ITEMDESCRIPTIONInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {UNITSREQUIREDInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;" class="style1">
                {OutStandingQtyInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;" class="style1">
                {UNITInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {UNITCOSTInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {TOTALCOSTInCaps}
            </th>

            <th style="padding-top: 3px; padding-bottom: 3px; border-bottom: solid 2px #272727;
            text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                {DELIVERYDATEInCaps}
            </th>

        </tr>
        {POLineItemsDynamicTRs}

        <tr>
            <td colspan="9" style="border-top: solid 2px #272727; border-right: solid 2px #272727;
            border-bottom: solid 2px #272727; border-left: solid 2px #272727; text-align: left;">
                &nbsp;
            </td>

            <td style="border-right: solid 2px #272727; border-bottom: solid 2px #272727; border-top: solid 2px #272727;
            text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
            font-weight: bold">
                {TOTALCOSTInCaps}
            </td>

            <td style="text-align: left; border-top: solid 2px #272727; border-bottom: solid 2px #272727;
            font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;">
                {CURRENCYInCaps}
            </td>

        </tr>
        <tr>
            <td colspan="8" style="border-right: solid 2px #272727; border-left: solid 2px #272727;">
                &nbsp;
            </td>

            <td style="padding-top: 3px; padding-bottom: 3px; border-bottom: solid 2px #272727;
            border-right: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                <strong>{TOTALInCaps}</strong>
            </td>

            <td style="padding-top: 3px; padding-bottom: 3px; border-bottom: solid 2px #272727;
            border-right: solid 2px #272727; text-align: left; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                <strong>{TotalValue}</strong>
            </td>

            <td style="padding-top: 3px; border-bottom: solid 2px #272727; padding-bottom: 3px;
            text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong>{CurrencyValue}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="8" rowspan="2" style="border-right: solid 2px #272727; border-left: solid 2px #272727;
            font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <div style="text-align: left; font-weight: bold; font-size: 15px; padding: 5px 0;">
                    {IMPORTANTNOTICEInCaps}
                </div>
                <ol style="margin:0 25px;padding:15px 0;">
                    <li style="list-style:inherit;">{PurchaseOrderLetter5}</li>
                    <li style="list-style:inherit;">{PurchaseOrderLetter6}</li>
                    <li style="list-style:inherit;">{PurchaseOrderLetter7}</li>
                    <li style="list-style:inherit;">{PurchaseOrderLetter8}</li>
                </ol>
            </td>
            <td colspan="3" style="text-align: left">
                &nbsp;
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td valign="top" style="border-top: solid 2px #272727; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                <u>{CONDITIONSOFPURCHASEInCaps}</u>
            </td>
            <td valign="top" style="border-top: solid 2px #272727; font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;">
                {PurchaseOrderLetter9}<br>
                {PurchaseOrderLetter10}
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="5" style='display:{IsSnooty}'>
        <tr>
            <td valign="top" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
                <br /><br />
                <b>PO TEXT :{Snooty}</b>
            </td>
        </tr>
    </table>

