﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {BookingReference} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {BookingRefValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Date} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {DateValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Site} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {SiteValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {POs}
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {POsValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {RefusalText1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {IssueValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {Comments} :
        </td>
        <td style="font-family: Arial; font-size: 12">
            {CommentsValue}
        </td>
    </tr>
    <tr style="display:{tblVisible};">
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {ImageUploadText}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {RefusalText2}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
</table>
