﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {VendorNameValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {Hi},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br>
            {UnexpectedBookingToSPText1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br>
            {UnexpectedBookingToSPText2}

        </td>
    </tr>
    <tr>
        <td colspan="2">
        <br />
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Date} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {DateValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Time} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {TimeValue}
        </td>
    </tr>

    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Site} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {SiteValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Carrier} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {CarrierValue}
        </td>
    </tr>

    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Pallets} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofPalletsValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Cartons} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofCartonsValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {PO} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {POValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {KindRegards}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {VIPAdmin}
        </td>
    </tr>
</table>
