﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" width="1000px" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
           {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br>
            {UnexpectedAcceptText1}            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br>
            {UnexpectedAcceptText2}            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br>
            {UnexpectedAcceptText3}            
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Date} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {DateValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Time} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {TimeValue}
        </td>
    </tr>

    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Site} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {SiteValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {Carrier} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {CarrierValue}
        </td>
    </tr>

    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofPallets} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofPalletsValue}
        </td>
    </tr>
    <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofCartons} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {NumberofCartonsValue}
        </td>
    </tr>
     <tr>
        <td width="20%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {PO} :
        </td>
        <td width="80%" style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            {POValue}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br><br >
            {Yoursfaithfully}
        </td>
    </tr>
</table>
