﻿<table align="center" width="1000px">
  
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {ScorecardText1}            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {PortalLinkValue}
        </td>
    </tr>
   
   <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {ScorecardText3}
            
        </td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {ScorecardText4}
            
        </td>
    </tr>

    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {ScorecardText2}
            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {RegardsNew}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12">
            {InventoryManager}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {PhoneNumber}
        </td>
    </tr>
</table>
