﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
        {OTIFText1}           
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {PortalLink}
        </td>
    </tr>
   
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {OTIFText2}            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
             {OTIFText3}            
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {Regards}
        </td>
    </tr>
     <tr>
        <td style="font-family: Arial; font-size: 12">
            <br />
            {InventoryManager}
        </td>
    </tr>
</table>
