﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {SiteAddress}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            {Date}&nbsp;-&nbsp;{CommunicationDate}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            {POHash}&nbsp;-&nbsp;{POValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            {InvoiceNumHash}&nbsp;-&nbsp;{InvoiceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            {DiscrepancyNo}&nbsp;-&nbsp;{DiscrepancyValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            <br />
            {DearSirMadam},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {InvoiceQueryComm7Line1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {GridValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            {InvoiceQueryComm7Line2}
        </td>
    </tr>   
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            <br />
            <br />
            {KindRegards}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            {APClerkletter}</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;text-align: left;">
            {INVAPClerkContactNo}</td>
    </tr>
</table>