﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CommonUI/CMN_MasterPages/CRUD_MasterPage.Master"
    AutoEventWireup="true" CodeFile="APPSIT_CarrierMiscellaneousConstraintsOverview.aspx.cs"
    Inherits="APPSIT_CarrierMiscellaneousConstraintsOverview" %>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>--%>
<%@ Register Assembly="BaseControlLibrary" Namespace="BaseControlLibrary" TagPrefix="cc1" %>
<%@ Register Src="../../../CommonUI/UserControls/ucAddButton.ascx" TagName="ucAddButton"
    TagPrefix="cc2" %>
<%@ Register Src="../../../CommonUI/UserControls/ucExportToExcel.ascx" TagName="ucExportToExcel"
    TagPrefix="cc2" %>
<%@ Register Src="../../../CommonUI/UserControls/ucSite.ascx" TagName="ucSite" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>
        <cc1:ucLabel ID="lblCarrierMiscellaneousConstraints" runat="server" Text="Carrier Micellaneous Constraints"></cc1:ucLabel>
    </h2>
    <table class="top-settings" width="30%">
        <tr>
            <td style="font-weight: bold;" align="center">
                <cc1:ucLabel ID="lblSitePrefixName" runat="server" Text="Site"></cc1:ucLabel>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                <uc2:ucsite id="ddlSite" runat="server" />
            </td>
            
        </tr>
    </table>
    <div class="button-row">
        <cc2:ucAddButton ID="btnAdd" runat="server" NavigateUrl="APPSIT_CarrierMiscellaneousConstraintsEdit.aspx" />
        <cc2:ucExportToExcel ID="ucExportToExcel1" runat="server" />
    </div>
    <table width="100%">
        <tr>
            <td align="center" style="width: 100%;">
                <cc1:ucGridView ID="UcGridView1" Width="100%" runat="server" CssClass="grid" OnSorting="SortGrid"
                    AllowSorting="true">
                    <Columns>
                        <%--<asp:TemplateField HeaderText="Site" SortExpression="SiteName">
                            <HeaderStyle HorizontalAlign="Left" Width="15%" />
                            <ItemStyle HorizontalAlign="Left" />
                            <ItemTemplate>
                                <cc1:ucLabel ID="ltSiteName" runat="server" Text='<%# Eval("SiteName") %>'></cc1:ucLabel>
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                        <asp:TemplateField HeaderText="Carrier" SortExpression="CarrierName">
                            <HeaderStyle HorizontalAlign="Left" Width="20%" />
                            <ItemStyle HorizontalAlign="Left" />
                            <ItemTemplate>
                                <asp:HyperLink ID="hpLink" runat="server" Text='<%# Eval("CarrierName") %>'
                                    NavigateUrl='<%# EncryptQuery("APPSIT_CarrierMiscellaneousConstraintsEdit.aspx?SiteCarrierID="+ Eval("SiteCarrierID")) %>'></asp:HyperLink>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField HeaderText="MaxPallets" DataField="APP_MaximumPallets" SortExpression="APP_MaximumPallets">
                            <HeaderStyle HorizontalAlign="Center" Width="7.28%" />
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                        <asp:BoundField HeaderText="MaxLines" DataField="APP_MaximumLines" SortExpression="APP_MaximumLines">
                            <HeaderStyle HorizontalAlign="Center" Width="7.28%" />
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                        <asp:BoundField HeaderText="MaxDeliveries " DataField="APP_MaximumDeliveriesInADay"
                            SortExpression="APP_MaximumDeliveriesInADay">
                            <HeaderStyle HorizontalAlign="Center" Width="7.28%" />
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                        <asp:TemplateField HeaderText="CannotDeliverBeforeH">
                            <HeaderStyle HorizontalAlign="Center" Width="7.28%" />
                            <ItemStyle HorizontalAlign="Center" />
                            <ItemTemplate>
                                <%--<asp:Literal ID="ltbeforhour" runat="server" Text='<%# Eval("APP_CannotDeliverBefore.Hour") %>'></asp:Literal>:<asp:Literal
                                    ID="ltbeformin" runat="server" Text='<%# Eval("APP_CannotDeliverBefore.Minute") %>'></asp:Literal>--%>
                                <asp:Label ID="lblBeforeSlotTime" Text='<%# Eval("BeforeSlotTime") %>' runat="server"></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="CannotDeliverAfterH">
                            <HeaderStyle HorizontalAlign="Center" Width="7.28%" />
                            <ItemStyle HorizontalAlign="Center" />
                            <ItemTemplate>
                                <%--<asp:Literal ID="ltAfterhour" runat="server" Text='<%# Eval("APP_CannotDeliverAfter.Hour") %>'></asp:Literal>:<asp:Literal
                                    ID="ltltAftermin" runat="server" Text='<%# Eval("APP_CannotDeliverAfter.Minute") %>'></asp:Literal>--%>
                                <asp:Label ID="lblAfterSlotTime" Text='<%# Eval("AfterSlotTime") %>' runat="server"></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:CheckBoxField HeaderText="CannotDeliverOnMon" DataField="APP_CannotDeliveryOnMonday"  ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                        <asp:CheckBoxField HeaderText="CannotDeliverOnTue" DataField="APP_CannotDeliveryOnTuesday"  ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                        <asp:CheckBoxField HeaderText="CannotDeliverOnWed" DataField="APP_CannotDeliveryOnWednessday"  ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                        <asp:CheckBoxField HeaderText="CannotDeliverOnThu" DataField="APP_CannotDeliveryOnThrusday"  ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                        <asp:CheckBoxField HeaderText="CannotDeliverOnFri" DataField="APP_CannotDeliveryOnFriday"  ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                        <asp:CheckBoxField HeaderText="CheckingRestriction" DataField="APP_CheckingRequired" ItemStyle-HorizontalAlign="Center" ItemStyle-Width="7.28%" />
                    </Columns>
                </cc1:ucGridView>
            </td>
        </tr>
    </table>
</asp:Content>
