﻿<table align="center" width="1000px">
    <tr><td style="text-align:center;font-family:Arial" colspan="2"><img src="{logoInnerPath}" /></td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2"><h3>{Congratulations},</h3></td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2">
        <br />
        {ApprovalText1}
        <br /> {ClickHereValue}
        </td>
    </tr>    
    <tr><td width="10%" style="font-family:Arial;font-size:12;vertical-align:bottom"><br />  <strong>{UserName} </strong>:</td>
        <td width="90%" style="font-family:Arial;font-size:12;vertical-align:bottom;text-align:left">{usernameValue}</td></tr>
    <tr>
        <td width="10%" style="font-family:Arial;font-size:12;vertical-align:bottom"><strong>{Password}</strong>:</td>
        <td width="90%" style="font-family:Arial;font-size:12;vertical-align:bottom;text-align:left">{passwordValue}</td>
    </tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2"><br />{Yoursfaithfully}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2"><br />{OfficeDepots}</td></tr>
</table>
