﻿<table align="center" width="1000px">
    <tr><td style="text-align:center;font-family:Arial" colspan="2"><img src="{logoInnerPath}" /></td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2"><h3>{Congratulations},</h3></td></tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2"><br />{ExternalUserCreationText1}</td></tr>
    <tr><td width="15%" style="font-family:Arial;font-size:12;vertical-align:bottom;"><br /><strong>{UserName}</strong>:</td>
        <td width="85%" style="font-family:Arial;font-size:12;vertical-align:bottom;text-align:left">{usernameValue}</td>
    </tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2">
            <br />
            {ExternalUserCreationText2}           
            {ExternalUserCreationText3}           
        </td>
    </tr>
    <tr><td style="font-family:Arial;font-size:12" colspan="2"><br />
        {ExternalUserCreationText4}       
        <br /> {ClickHereValue}</td></tr>
    
     <tr><td style="font-family:Arial;font-size:12" colspan="2"><br /> {ExternalUserCreationText5} </td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2"><br />{Yoursfaithfully}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12" colspan="2"><br />{OfficeDepots}</td></tr>
</table>
