﻿<table align="center" width="1000px">  
    <tr><td style="text-align:center;font-family:Arial"><img src="{logoInnerPath}" /></td></tr>
    <tr><td style="font-family:Arial;font-size:12">{ForgotPasswordText1} :  {passwordValue}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12"><br /> {Yoursfaithfully}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12"><br /> {OfficeDepots}</td></tr>
</table>
