﻿<table align="center" width="1000px">
    <tr><td style="text-align:center;font-family:Arial"><img src="{logoInnerPath}" /></td></tr>
    <tr><td style="font-family:Arial;font-size:12"><h3>{Congratulations},</h3><p>
    {UnblockUserAccText1}
    </p></td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12"><br />{Yoursfaithfully}</td></tr>
    <tr><td style="font-weight:bold;font-family:Arial;font-size:12"><br />{OfficeDepots}</td></tr>
</table>
