﻿<head>

</head>
<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />            
            {InternalCommunicationMessage1}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
           
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; height: 35px";>
        <b>{VendorNo}</b>&nbsp;:&nbsp;{VendorNoValue}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left" class="style1">
          
        </td>
    </tr>
        <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; height: 35px";>
            <b>{VendorName}</b>&nbsp;:&nbsp;{VendorNameValue}            
        </td>
        <td style="font-size: 12; text-align: left">
           
        </td>
    </tr>
        <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; height: 35px";>
        <b>{OriginalPenaltyValue}</b>&nbsp;:&nbsp;{OriginalPenaltyValueValue}            
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
           
        </td>
    </tr>   
        <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; height: 35px";>
        <b>{ValueBeingDisputedByTheVendor}</b>&nbsp;:&nbsp;{ValueBeingDisputedByTheVendorValue}            
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
           
        </td>
    </tr>   
        <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; height: 35px";>
            {InternalCommunicationMessage2}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            
        </td>
    </tr>   
           <tr><td colspan="2"></td></tr>
            <tr><td colspan="2"></td></tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerName}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerContactNo}
        </td>
    </tr>    
</table>
