﻿
<table align="center" width="1000px">   
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br/>
            <br/>
            {Hi},
            <br/>
            <br/>
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {BOMessage1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2" align="center">
            <br />
           <b>{Comments}</b>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {BOMessage3}
        </td>
    </tr> 
     <tr>
        <td style="font-family: Arial; font-size: 12; colspan="2" align="center" >
            <br />
            <a href="{HREF}" target="_blank" style="color:#00b3b3" >{LinkTitle}</a> 
        </td>
    </tr> 
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {GridValue}
        </td>
    </tr>    
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {ManyThanks}
              <br /> 
                <br /> 
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerName}
             <br />   
               <br />      
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            {StockPlannerContactNo}
                <br />
        </td>
    </tr>    
</table>
