﻿
<table align="center" width="1000px">   
    <tr>
        <td style="text-align: center; font-family: Arial">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            <br/>
            <br/>
            {Hi},
            <br/>
            <br/>
        </td>       
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorQueryMessage1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" >
            {VendorQueryMessage2}
        </td>
    </tr>    
    <tr>
        <td style="font-family: Arial; font-size: 12" >
            <br />
            <br />
            {Thanks}              
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VIPAdmin}
             <br />               
        </td>
    </tr>   
</table>