﻿<table align="center" width="1000px">
    <tr>
        <td style="text-align: center; font-family: Arial" colspan="2">
            <img src="{logoInnerPath}" />
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12; vertical-align: bottom;">
            <br />
            <br />
            {VendorNumber}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left; vertical-align: bottom;">
            <br />
            <br />
            <b>{DebitNoteNumber}</b>&nbsp;:&nbsp;{DebitNoteNumberValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorName}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{OurVATReference}</b>&nbsp;:&nbsp;{OurVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12;">
            {VendorAddress1}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{YourVATReference}</b>&nbsp;:&nbsp;{YourVATReferenceValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress2}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <b>{DebitReason}</b>&nbsp;:&nbsp;{DebitReasonValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress3}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12">
            {VendorAddress4}
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12">
            <br />
            <br />
            {DearSirMadam},
        </td>
        <td style="font-family: Arial; font-size: 12; text-align: left">
            <br />
            <br />
            <b>{Date}</b>&nbsp;:&nbsp;{DateValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication4Message1}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {GridValue}
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12" colspan="2">
            <br />
            {VendorCommunication4Message2}&nbsp;{ApprovedByValue}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {Yoursfaithfully}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            {OfficeDepots}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-family: Arial; font-size: 12" colspan="2">
            <br />
            <br />
            {APAddress}
        </td>
    </tr>
</table>
