﻿<table width="100%" cellspacing="1" cellpadding="0" class="form-table">
    <tbody>
        <tr>
            <td>
                <div  class="fieldset-form">
                    <fieldset>
                        <legend>Absolute </legend>
                        <table width="100%" cellspacing="1" cellpadding="0" class="form-table">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 30%">
                                        <span >Days Allowed Early</span>
                                    </td>
                                    <td style="font-weight: bold; width: 1%">
                                        :
                                    </td>
                                    <td style="font-weight: bold; width: 5%">
                                        <input type="text" value="Absolute1"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                            
                                    </td>
                                    <td rowspan="3" style="font-weight: bold; width: 64%; vertical-align: top;">
                                        The Absolute measure classes a Purchase Order Line as a hit if...<br />
                                        The Item delivery is in full on a single delivery on the required due date.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Days Allowed Late</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                        <span>:</span>
                                    </td>
                                    <td style="font-weight: bold;">
                                         <input type="text" value="Absolute2"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Number of Deliveries
                                            Allowed</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                       :
                                    </td>
                                    <td style="font-weight: bold;">
                                         <input type="text" value="Absolute3"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="fieldset-form">
                    <fieldset>
                        <legend>New OTIF Measure </legend>
                        <table width="100%" cellspacing="1" cellpadding="0" class="form-table">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 30%">
                                        <span >Days Allowed Early</span>
                                    </td>
                                    <td style="font-weight: bold; width: 1%">
                                        :
                                    </td>
                                    <td style="font-weight: bold; width: 5%">
                                         <input type="text" value="NewOTIF1"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                    <td rowspan="3" style="font-weight: bold; width: 64%; vertical-align: top;">
                                        The Office Depot measure classes a Purchase Order Line as a hit if...<br />
                                        An Item delivery is in full bythe due date.It will allow for items to be delivered
                                        early and across multiple deliveries as long as full amount is delivered by the
                                        due date.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Days Allowed Late</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                        :
                                    </td>
                                    <td style="font-weight: bold;">
                                        <input type="text" value="NewOTIF2"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Number of Deliveries
                                            Allowed</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                        :
                                    </td>
                                    <td style="font-weight: bold;">
                                        <input type="text" value="NewOTIF3"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="fieldset-form">
                    <fieldset>
                        <legend>Old OTIF Measure </legend>
                        <table width="100%" cellspacing="1" cellpadding="0" class="form-table">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 30%">
                                        <span>Days Allowed Early</span>
                                    </td>
                                    <td style="font-weight: bold; width: 1%">
                                        :
                                    </td>
                                    <td style="font-weight: bold; width: 5%">
                                        <input type="text" value="OldOTIF1"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                    <td rowspan="3" style="font-weight: bold; width: 64%; vertical-align: top;">
                                        The Old measure classes a Purchase Order Line as a hit if...<br />
                                        An Item delivery is in full bythe due date. + 1 day
                                        <br />
                                        It will allow for items to be delivered early and across multiple deliveries as
                                        long as full amount is delivered by the due date. + 1 day
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Days Allowed Late</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                       :
                                    </td>
                                    <td style="font-weight: bold;">
                                       <input type="text" value="OldOTIF2"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        <span >Number of Deliveries
                                            Allowed</span>
                                    </td>
                                    <td style="font-weight: bold; width: 5px">
                                       :
                                    </td>
                                    <td style="font-weight: bold;">
                                      <input type="text" value="OldOTIF3"
                                            class="inputbox"                                          
                                            style="width: 20px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
        </tr>
    </tbody>
</table>
