﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Dis_ReturnNote.aspx.cs" Inherits="ModuleUI_Discrepancy_LogDiscrepancy_Dis_ReturnNote" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
        function PrintScreen() {
            document.getElementById('btnPrint').style.visibility = "hidden";
            window.print();
            document.getElementById('btnPrint').style.visibility = "visible";
            //setTimeout('self.close()', 1000);
        }      
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input type="button" value="Print" onclick="PrintScreen();" class="button" id="btnPrint" />
    </div>
    <div>
        <asp:Label ID="lblprint" runat="server" Text="aaa"></asp:Label>
    </div>
    </form>
</body>
</html>
