﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DIS_PrintLetter.aspx.cs"
    Inherits="ModuleUI_Discrepancy_LogDiscrepancy_DIS_PrintLetter" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            font-size: 36px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        .style10
        {
            font-size: 16px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <script language="javascript" type="text/javascript">
        function PrintScreen() {
            window.print();
            setTimeout('self.close()', 1000);
        }      
    </script>
</head>
<body onload="PrintScreen();">
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblprint" runat="server" Text="aaa"></asp:Label>
    </div>
    </form>
</body>
</html>
